.pagination__products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 20px;
    justify-content: center;
    .product {
        margin: 0 auto;
    }
}

.pagination__wrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .pagination__products {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (max-width: 640px) {
    .pagination__products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 420px) {
    .pagination__products {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
