.wrapper {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0 !important;
  left: -1000%;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.active {
  left: 0;
  transform: translateX(0);
}

.sidebar-icon--close {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 999999;
  svg {
    width: 24px;
    height: 24px;
    color: #3ba66b;
  }
}

.inner {
  background-color: #fff;
  position: fixed;
  top: 0 !important;
  bottom: 0;
  z-index: 99999;
  width: 50%;
  @media (max-width: 640px) {
    width: 80%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }

  .header__signin {
    border-right: 1px solid #fff;
  }

  .header__signin,
  .header__signup {
    background: #3ba66b;
    margin-bottom: 0;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 20px 5px;

    &:hover {
      color: #fff;
    }
  }

  .menu__list {
    padding: 0;
    margin-top: 12px;
    .menu__item a {
      padding: 0 10px !important;
      color: #333;
      height: unset;
      line-height: 35px;
    }
  }
}
